# .flake8
[flake8]
select = B,B9,BLK,C,E,F,I,S,W
ignore = E203,E501,W503
max-line-length = 89
max-complexity = 10
import-order-style = google
application-import-names = sdhypermodern_python,tests
per-file-ignores = tests/*:S101
