# .flake8
[flake8]
select = ANN,B,B9,BLK,C,D,E,F,I,S,W
docstring-convention = google
ignore = E203,E501,W503
max-line-length = 89
max-complexity = 10
import-order-style = google
application-import-names = sdhypermodern_python,tests
per-file-ignores =
    tests/*:S101,ANN,D100,D103
    noxfile.py:ANN,D100,D103